<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact</a>
    </nav>
    <h1>Ini Adalah Page Contact</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% cont.forEach(contact => { %>
                <tr>
                    <td><%= contact.name  %></td>
                    <td><%= contact.phone %></td>
                    <td><%= contact.mail %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>