<h1>Ini Adalah Page Contact</h1>
    <div>
    <a href="/contact"><button>Kembali</button></a>
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td><%= contact.name %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.mail %></td>
            </tr>
        </tbody>
      </table>      
    </div>